*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  max-width: 1200px;
  padding: 0 5px;
  margin: 0 auto;
}

.gallery-section {
  padding: 30px 0;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin-bottom: 30px;
}

.search-form input {
  width: 400px;
  height: 40px;
  padding: 1px 2px 1px 10px;

  font: inherit;
  font-size: 18px;
}
button {
  width: 120px;
  height: 40px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 45px;
  background-color: #34ce98;
  box-shadow: 0 8px 15px #0000001a;

  font: inherit;
  font-size: 14px;
  font-weight: 700;
  color: #2c2c2c;
  text-transform: uppercase;

  cursor: pointer;
  /* transform: translateY(0px); */
  transition: 250ms linear;
}

.load-more {
  margin: 0 auto;
}

.load-more.is-hidden {
  display: none;
}

button:hover {
  background: #2ee59d;
  box-shadow: 0 15px 20px #2ee59d66;
  color: white;
  transform: translateY(-7px);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;

  margin-bottom: 15px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  box-shadow: 0px 0px 4px 1px #2e2e2ebf;
}

.info {
  display: flex;
  justify-content: space-around;
  gap: 2px;

  border-right: 1px solid #918f8f;
  border-bottom: 1px solid #918f8f;
  border-left: 1px solid #918f8f;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 14px;
}

.gallery-link {
  display: flex;
  flex-basis: calc((100% - 24px) / 4);
}
